{% extends 'general/layout.html' %}
{% block title %} Register {% endblock %} 
{% block content %}
<div class="flex mt-20 flex-col px-6 py-10 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<img
			class="mx-auto h-10 w-auto"
			src="../static/img/bank.png"
			alt="Company" />
		<h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
			Register for an account
		</h2>
	</div>

	<form class="sm:grid sm:grid-cols-3 sm:content-start sm:gap-x-6 sm:justify-center flex flex-col mb-0 items-center" 
			action="{{ url_for('account.register') }}" method="post">
		<input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />  
		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="username" class="label_field">Username</label>
			</div>
			<div>
				<input id="username" name="username" type="text" autocomplete="off" class="input_field" required />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="fullName" class="label_field">Full Name</label>
			</div>
			<div>
				<input id="fullName" name="fullName" type="text" autocomplete="off" class="input_field" required />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="branch" class="label_field">Branch</label>
			</div>
			<select id="branch" name="branch" class="select_field">
				<option selected value="-1">Choose a branch</option>
				{% for branch in branch_list %}
				<option value="{{branch._id}}">{{branch.BranchName}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="password" class="label_field">Password</label>
			</div>
			<div>
				<input id="password" name="password" type="password" autocomplete="off" class="input_field" required/>
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="address" class="label_field">Address</label>
			</div>
			<div>
				<textarea id="address" name="address" type="text" autocomplete="off" class="input_field" required></textarea>
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<label for="transferMethod" class="label_field">Transfer Method</label>
			<select id="transferMethod" name="transferMethod" class="select_field">
				<option selected value="-1">Choose a Transfer Method</option>
				{% for transferMethod in transferMethod_list %}
				<option value="{{transferMethod._id}}">{{transferMethod.MethodName}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="confirmPassword" class="label_field">Confirmation Password</label>
			</div>
			<div>
				<input id="confirmPassword" name="confirmPassword" type="password" 
					autocomplete="off" class="input_field" required/>
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="phone" class="label_field">Phone Number</label>
			</div>
			<div>
				<input id="phone" name="phone" type="text" autocomplete="off" class="input_field" required/>
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<label for="loginMethod" class="label_field">Login Method</label>
			<select id="loginMethod" name="loginMethod" class="select_field">
				<option selected  value="-1">Choose a Login Method</option>
				{% for loginMethod in loginMethod_list %}
				<option value="{{loginMethod._id}}">{{loginMethod.MethodName}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="email" class="label_field">Email</label>
			</div>
			<div>
				<input id="email" name="email" type="email" autocomplete="off" class="input_field" required/>
			</div>
		</div>

		<div class="w-1/4 sm:w-full">
			<div class="flex items-center">
				<label class="label_field">Sex</label>
			</div>
			<div class="flex items-center space-x-4 px-2 input_field">
				<div>
					<input id="male" name="sex" type="radio" value="1" class="w-4 h-4 text-blue-600
						bg-gray-100 border-gray-400 rounded-full focus:ring-blue-500" />
					<label for="male" class="text-sm font-medium text-gray-900">Male</label>
				</div>
				<div>
					<input id="female" name="sex" type="radio" value="2" class="w-4 h-4 text-blue-600
						bg-gray-100 border-gray-400 rounded-full focus:ring-blue-500" />
					<label for="female" class="text-sm font-medium text-gray-900">Female</label>
				</div>
				<div>
					<input id="others" name="sex" type="radio" value="0" class="w-4 h-4 text-blue-600
						bg-gray-100 border-gray-400 rounded-full focus:ring-blue-500" />
					<label for="others" class="text-sm font-medium text-gray-900">Others</label>
				</div>
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<label for="service" class="label_field">Service</label>
			<select id="service" name="service" class="select_field">
				<option selected value="-1">Choose a Service</option>
				{% for service in service_list %}
				<option value="{{service._id}}">{{service.ServiceName}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="card" class="label_field">Card</label>
			</div>
			<div>
				<input id="card" name="card" type="text" autocomplete="off" value="{{card_info.cardNumber}}"
					class="input_field text-gray-400" readonly/>
				<input id="accountNumber" name="accountNumber" type="text" autocomplete="off"
					value="{{card_info.accountNumber}}" hidden/>
				<input id="cvvNumber" name="cvvNumber" type="text" autocomplete="off"
					value="{{card_info.cvvNumber}}" hidden/>
			</div>
		</div>

		<div class="sm:col-end-4 flex justify-end">
			<button
				type="submit"
				class="bg-gradient-to-r from-blue-400 to-blue-600 hover:from-blue-600 hover:to-blue-800 
				text-white font-semibold py-2 px-6 rounded-md shadow-md focus:outline-none focus:ring-2 
				focus:ring-blue-500 focus:ring-opacity-50 transition-all duration-300 ease-in-out">Register
			</button>
		</div>
	</form>
</div>
{% endblock %}
