{% extends "general/layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<!-- Admin side bar -->
<div class="flex-col justify-between">
    <div class="flex mt-14 h-screen">
        <ul class="bg-green-300 p-4 w-48 sidebar hidden sm:block">
            <li class="admin_sidebar_item{% if '/admin/account/' in request.path %} hightlight{% endif %}">
                <a href="/admin/account/1">Accounts</a>
            </li>
            <li class="admin_sidebar_item{% if '/admin/user' in request.path %} hightlight{% endif %}">
                <a href="/admin/user">Users</a>
            </li>
            <li class="admin_sidebar_item{% if '/admin/employee' in request.path %} hightlight{% endif %}">
                <a href="/admin/employee">Employees</a>
            </li>
            <li class="admin_sidebar_item{% if '/admin/branch' in request.path %} hightlight{% endif %}">
                <a href="/admin/branch">Branches</a>
            </li>
            <li class="admin_sidebar_item{% if '/admin/statistical-chart' in request.path %} hightlight{% endif %}">
                <a href="/admin/chart">Statistical chart</a>
            </li>
            <li class="admin_sidebar_item{% if '/admin/news' in request.path %} hightlight{% endif %}">
                <a href="/admin/news">News</a>
            </li>
        </ul>
        {% block admin_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}