<div class="flex mb-4">   
    <label class="admin_label mr-4" for="status">Status</label>
    {% if account.IsDeleted == 0 %}
    <label class="inline-flex items-center me-5 cursor-pointer" onclick="change_status_value(event)">
        <input type="hidden" value="{{ account.IsDeleted }}" name="status" id="status_input"/>
        <input type="checkbox" class="sr-only peer" checked id="status_checkbox" value="{{ account.IsDeleted }}"/>
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-teal-300 dark:peer-focus:ring-teal-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-teal-600"></div>
        <span class="ms-3 text-sm font-bold text-white dark:text-gray-300" id="status_text">Active</span>
    </label>
    {% else %}
    <div>{{account.IsDeleted}}</div>
    <label class="inline-flex items-center me-5 cursor-pointer" onclick="change_status_value(event)">
        <input type="hidden" value="{{ account.IsDeleted }}" name="status" id="status_input"/>
        <input type="checkbox" class="sr-only peer" id="status_checkbox" value="{{ account.IsDeleted }}"/>
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-teal-300 dark:peer-focus:ring-teal-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-teal-600"></div>
        <span class="ms-3 text-sm font-bold text-white dark:text-gray-300" id="status_text">Inactive</span>
    </label>
    {% endif %}
</div>
