{% extends 'user/layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block user_content %}
<!-- Main Content -->
<div class="container mx-auto mt-10 px-4">
    <!-- User Information Section -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6">Welcome, {{ account.AccountOwner.Name }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <h3 class="text-lg font-medium text-gray-700">Account Balance</h3>
                <p class="flex flex-row text-3xl font-bold text-green-600 items-center space-x-2">
                    <span>{{ account.Balance|currency_format }}</span>
                    <select name="currency" id="currency" class="w-auto h-auto border-2 rounded-md text-sm">
                        {% for currency in currency_list %}
                            <option value="{{currency.value}}">{{currency.name}}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
            <div>
                <h3 class="text-lg font-medium text-gray-700">Account Number</h3>
                <p class="text-xl text-gray-800 font-semibold">{{ account.AccountNumber }}</p>
            </div>
        </div>
    </div>

    <!-- Recent Transactions -->
    <div class="bg-white shadow-lg rounded-lg p-2 overflow-y-auto h-96">
        <h3 class="text-2xl font-semibold text-gray-800 mb-6">Recent Transactions</h3>
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto border-collapse">
                <thead>
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="px-6 py-3 text-left">Date</th>
                        <th class="px-6 py-3 text-left">Description</th>
                        <th class="px-6 py-3 text-left">Amount</th>
                        <th class="px-6 py-3 text-left">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions_list %}
                    <tr class="bg-gray-50 text-gray-700">
                        <td class="border px-6 py-4">{{ transaction.date }}</td>
                        <td class="border px-6 py-4">{{ transaction.description }}</td>
                        <td class="border px-6 py-4 space-x-2 {{ 'text-red-600' if transaction.amount < 0 else 'text-green-600' }}">
                            <span>{{ transaction.amount }}</span>
                            {% if account.Currency == 0 %} 
                            <span>VND</span>
                            {% elif account.Currency == 1 %}
                            <span>USD</span>
                            {% elif account.Currency == 2 %}
                            <span>EUR</span>
                            {% endif %}
                        </td>
                        <td class="border px-6 py-4">{{ transaction.balance }} USD</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
