{% extends 'user/layout.html' %}
{% block title %}
  Investment and Savings
{% endblock %}
{% block user_content %}
<!-- Header Section -->
<header class="bg-indigo-600 text-white py-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center px-4">
    <h1 class="text-2xl font-bold">Investments & Savings</h1>
    <div class="absolute right-5 flex flex-row-reverse">
      <button id="openModalInvestmentBtn" class="bg-green-500 px-4 py-2 rounded-md hover:bg-green-600">
        Add New Investment
      </button>
      <button id="openModalSavingsBtn" class="bg-blue-500 px-4 py-2 rounded-md hover:bg-blue-600 mr-2">
        Add New Savings
      </button>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container mx-auto py-8 px-4">
  <div class="grid md:grid-cols-3 gap-6">
    <!-- Savings Overview -->
    <div class="bg-white p-6 rounded-lg shadow-lg max-h-430 overflow-y-auto">
      <h2 class="text-xl font-semibold mb-4">Savings Overview</h2>
      <div class="space-y-4">
        <div class="flex justify-between">
          <span>Current Balance:</span>
          <span class="font-semibold">15,200 {{currency}}</span>
        </div>
        <div class="flex justify-between">
          <span>Interest Rate:</span> <span class="font-semibold">2.5%</span>
        </div>
        <div class="flex justify-between">
          <span>Savings Account Type:</span>
          <span class="font-semibold">Fixed Deposit</span>
        </div>
      </div>
    </div>

    <!-- Investment Portfolio -->
    <div class="md:col-span-2 bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-semibold mb-4">Investment Portfolio</h2>
      <div class="space-y-4 max-h-430 overflow-y-auto">
        <!-- Portfolio Items-->
        {% if not investments %}
        <div class="font-bold text-center w-full">No investments information.</div>
        {% else %}
          {% for investment in investments %}
          <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
            <div class="flex justify-between items-center">
              <div>
                <h3 class="text-lg font-semibold">{{investment.Type}}</h3>
                <p class="text-black underline italic">{{investment.Name}}</p>
              </div>
              <span class="{% if investment.CurrentRate >= 0 %}text-green-600 {% else %} text-red-600 {% endif %} font-semibold">{{investment.CurrentRate}}%</span>
            </div>
            <p class="text-sm mt-1 flex flex-row">
              <span class="w-32 text-gray-600">Amount Invested:</span>
              <span class="text-blue-500 font-semibold">{{investment.InvestmentAmount|currency_format}} {{currency}}</span>
            </p>
            <p class="text-sm mt-1 flex flex-row">
              <span class="w-32 text-gray-600">Current Amount:</span> 
              <span class="text-green-500 font-semibold">{{investment.CurrentAmount|currency_format}} {{currency}}</span>
            </p>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Add New Investment Modal -->
<div id="addInvestmentModal" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75">
  <!-- Modal panel -->
  <div class="bg-white rounded-lg text-left shadow-xl transform transition-all sm:max-w-lg w-full max-w-md">
    <div class="bg-white p-6">
      <div class="flex justify-between items-center border-b pb-2 mb-4">
        <h3 class="text-lg font-semibold text-gray-700">Add New Investment</h3>
        <button id="closeModalInvestmentBtn" class="text-gray-400 hover:text-gray-600">✖</button>
      </div>
      <form method="post" action="/add-investment-savings" class="space-y-4">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="hidden" name="rate" value="{{investment_rate}}">
        <!-- Investment Name -->
        <div>
          <label for="investment-name" class="block text-gray-700 font-semibold">Investment Name</label>
          <input type="text" id="investment_name" name="investment_name" placeholder="Enter investment name"
              class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-green-500" >
        </div>

        <!-- Investment Amount -->
        <div>
          <label for="investment-amount" class="block text-gray-700 font-semibold">Investment Amount</label>
          <input type="number" id="investment_amount" name="investment_amount" placeholder="Enter amount"
              class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-green-500" >
        </div>

        <!-- Investment Type -->
        <div>
          <label for="investment-type" class="block text-gray-700 font-semibold">Investment Type</label>
          <select id="investment_type" name="investment_type"
              class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-green-500">
            <option value="-1" disabled selected>Select investment type</option>
            <option value="0">Stocks</option>
            <option value="1">Bonds</option>
            <option value="2">Real Estate</option>
            <option value="3">Crypto</option>
          </select>
        </div>

        <!-- Date -->
        <div>
          <label for="investment-date" class="block text-gray-700 font-semibold">Investment Date</label>
          <input type="date" id="investment_date" name="investment_date" value="{{investment_date}}"
              class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-green-500">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-green-500 text-white rounded-lg py-3 font-semibold 
            hover:bg-green-600 transition duration-300">
            Add Investment
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  // Modal toggling logic
  const investmentModal = document.getElementById('addInvestmentModal');
  const openModalInvestmentBtn = document.getElementById('openModalInvestmentBtn');
  const closeModalInvestmentBtn = document.getElementById('closeModalInvestmentBtn');

  openModalInvestmentBtn.addEventListener('click', () => {
    investmentModal.classList.remove('hidden');
  });

  closeModalInvestmentBtn.addEventListener('click', () => {
    investmentModal.classList.add('hidden');
  });

  window.addEventListener('click', (e) => {
    if (e.target == investmentModal) {
      investmentModal.classList.add('hidden');
    }
  });
</script>
{% endblock %}