{% extends "general/layout.html" %}

{% block content %}
<div class="flex-col justify-between">
    <div class="flex min-h-screen">
        <ul class="p-2 w-52 h-screen hidden sm:block bg-white text-sm border-r-2 border-gray-200">
            <li class="mt-20 user_bar_item
                {% if request.path == '/' %} highlight {% endif %}" onclick="window.location.href='/'">
                <img src="{{ url_for('static', filename='img/home.png') }}" alt="home icon" class="w-6 h-6">
                <span>Home</span>
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/money-transfer' %} highlight {% endif %}" onclick="window.location.href='/money-transfer'">
                <img src="{{ url_for('static', filename='img/money.png') }}" alt="money transfer icon" class="w-6 h-6">
                <span>Money Transfer</span>
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/bill-payment' %} highlight {% endif %}" onclick="window.location.href='/bill-payment'">
                <img src="{{ url_for('static', filename='img/bill.png') }}" alt="bill payment icon" class="w-6 h-6">
                <span>Bill Payment</span>
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/card-management' %} highlight {% endif %}" onclick="window.location.href='/card-management'">
                <img src="{{ url_for('static', filename='img/card-manage.png') }}" alt="card management icon" class="w-6 h-6">
                <span>Card Management</span>
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/investment-savings' %} highlight {% endif %}" onclick="window.location.href='/investment-savings'">
                <img src="{{ url_for('static', filename='img/investing.png') }}" alt="investment/savings icon" class="w-6 h-6">
                <span>Investment/Savings</span>
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/loan-management' %} highlight {% endif %}" onclick="window.location.href='/loan-management'">
                <img src="{{ url_for('static', filename='img/loan.png') }}" alt="loan management icon" class="w-6 h-6">
                <span>Loan Management</span>
            </li>
        </ul>
        <div class="mt-16 w-full h-full">
            {% block user_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}