{% extends "general/layout.html" %}

{% block content %}
<!-- User side bar -->
<div class="flex-col justify-between">
    <div class="flex h-screen">
        <ul class="p-2 w-52 h-screen hidden sm:block bg-white text-sm border-r-2 border-gray-200">
            <li class="mt-20 user_bar_item
                {% if request.path == '/' %} hightlight {% endif %}" onclick="window.location.href='/'">
                Home
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/money-transfer' %} hightlight {% endif %}" onclick="window.location.href='/money-transfer'">
                Money Transfer
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/bill-payment' %} hightlight {% endif %}" onclick="window.location.href='/bill-payment'">
               Bill Payment
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/top-up' %} hightlight {% endif %}" onclick="window.location.href='/top-up'">
                Top-up
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/card-management' %} hightlight {% endif %}" onclick="window.location.href='/card-management'">
                Card Management
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/investment-savings' %} hightlight {% endif %}" onclick="window.location.href='/investment-savings'">
                Investment/Savings
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/loan-management' %} hightlight {% endif %}" onclick="window.location.href='/loan-management'">
                Loan Management
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/settings-security' %} hightlight {% endif %}" onclick="window.location.href='/settings-security'">
                Settings/Security
            </li>
            <li class="mt-2 user_bar_item
                {% if request.path == '/other-services' %} hightlight {% endif %}" onclick="window.location.href='/other-services'">
                Other Services
            </li>
        </ul>
        <div class="mt-16 w-full h-full">
            {% block user_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}