{% extends "employee/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block employee_content %}
    <!-- Content -->
    <div class="flex flex-col ml-44 p-5 overflow-x-auto w-full"> 
        <!--Top div with buttons-->
        <div class="flex mb-4 justify-between items-center">
            <!-- Year, month Button with options -->
            <div class="relative flex">
                <label for="month" class="label_field mt-0 mr-0.5 content-center">Month: </label>
                <select id="month" class="select_field h-[30px] w-auto leading-tight p-1 text-black shadow-sm border">
                    <option selected value="{{current_month}}">{{current_month}}</option>
                    {% for month in months %}
                    <option value="{{month}}">{{month}}</option>
                    {% endfor %}
                </select>

                <label for="year" class="mr-0.5 ml-4 label_field mt-0 content-center">Year: </label>
                <select id="year" class="select_field h-[30px] w-auto leading-tight p-1 text-black shadow-sm border">
                    <option selected value="{{current_year}}">{{current_year}}</option>
                    {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>

                <style>
                    /* Custom CSS to hide the arrow inside select tag */
                    select {
                        -moz-appearance: none; /* Firefox */
                        -webkit-appearance: none; /* Safari and Chrome */
                        appearance: none; /* Standard */
                        background-image: none; /* Remove default arrow */
                    }
                </style>
            </div>

            <!-- Buttons for Check-in, Check-out, WFH Check-in, WFH Check-out, Day-off -->
            <div id="buttonContainer" class="flex">
                <button id='check_in' class="btn w-auto text-xs font-light px-2 py-1.5 items-center mr-2 bg-blue-400">Check-in</button>
                <button id='check_out' class="btn w-auto text-xs font-light px-2 py-1.5 items-center mr-2 bg-blue-400">Check-out</button>
                <button id='wfh_check_in' class="btn w-auto text-xs font-light px-2 py-1.5 items-center mr-2 bg-orange-400">WFH Check-in</button>
                <button id='wfh_check_out' class="btn w-auto text-xs font-light px-2 py-1.5 items-center mr-2 bg-orange-400">WFH Check-out</button>
                <button id='day_off' class="btn w-auto text-xs font-light px-2 py-1.5 items-center mr-2 bg-red-400">Day-off</button>
            </div>
        </div>

        <!-- Table -->
        <div>
            <table id="data_table" class="min-w-full table-auto divide-y divide-gray-300 rounded-lg">
                <thead class="bg-green-300 text-sm">
                    <tr>
                        <th class="px-4 py-2 text-left">STT</th>
                        <th class="px-4 py-2 text-left">ID</th>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Role</th>
                        <th class="px-4 py-2 text-left">Gender</th>
                        <th class="px-4 py-2 text-left">Position</th>
                        <th class="px-4 py-2 text-left">Phone</th>
                        <th class="px-4 py-2 text-left">Email</th>
                        <th class="px-4 py-2 text-left">Address</th>
                        <th class="hidden lg:table-cell px-4 py-2 text-left">Check-in time</th>
                        <th class="hidden lg:table-cell px-4 py-2 text-left">Check-out time</th>
                        <th class="hidden xl:table-cell px-4 py-2 text-left">Status</th>
                    </tr>
                </thead>
                <tbody id="employee-table" class="bg-white divide-y divide-gray-200 text-sm">
                    <!-- Create a hidden div to store the data as a JSON string -->
                    <div id="flask-data" style="display:none;">{{ fake_data | tojson }}</div>
                    {% for employee in fake_data %}
                    <tr class="hover:bg-gray-100">
                        <td class="px-4 py-2">{{ loop.index }}</td>
                        <td class="px-4 py-2">{{ employee._id }}</td>
                        <td class="px-4 py-2">{{ employee.EmployeeName }}</td>
                        <td class="px-4 py-2">{{ employee.Role }}</td>
                        <td class="px-4 py-2">{{ employee.Sex }}</td>
                        <td class="px-4 py-2">{{ employee.Position }}</td>
                        <td class="px-4 py-2">{{ employee.Phone }}</td>
                        <td class="px-4 py-2">{{ employee.Email }}</td>
                        <td class="px-4 py-2">{{ employee.Address }}</td>
                        <td class="hidden lg:table-cell px-4 py-2">{{ employee.Check_in_time }}</td>
                        <td class="hidden lg:table-cell px-4 py-2">{{ employee.Check_out_time }}</td>
                        <td class="hidden xl:table-cell px-4 py-2">{{ employee.Working_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/employee/home.js') }}"></script>
{% endblock %}
