{% extends "general/layout.html" %}

{% block title %}
{% block employee_title %}{% endblock %}
{% endblock %}
<style>
    /* Ensure the dropdown menu is hidden by default and shown on hover */
    .group:hover .group-hover\:block {
        display: block;
    }

</style>
{% block content %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="flex flex-row min-h-full top-16 min-w-full bg-white">
    <!-- Sidebar -->
    <aside class="flex h-screen bg-green-500 text-gray-500 border rounded-md sm:w-48 sm:fixed sm:left-0">
        <div class="p-2 flex flex-col">
            <h1 class="text-xl font-bold text-white mb-4">Banking App</h1>
            <ul class="list-none">
                <li class="relative mb-2 group w-full"></li>
                    <a href="{{url_for('employee.employee_home')}}" class="block p-2 text-white hover:bg-green-300 rounded-lg">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </li>

                <!-- News Item with Notification Icon -->
                <li class="relative mb-2 group">
                    <a href="#" class="flex p-2 text-white hover:bg-green-300 items-center rounded-lg">
                        <!-- Notification Icon Container -->
                        <div class="relative">
                            <!-- Notification Badge -->
                            <div class="absolute -top-1 right-0 bg-red-600 h-3 w-3 rounded-full flex items-center justify-center text-xs">
                                2
                            </div>
                            <!-- Bell Icon -->
                            <i class="block fas fa-bell mr-2"></i>
                        </div>
                        <!-- Text -->
                        <span>News</span>
                    </a>
                </li>
                
                <li class="relative mb-2 group">
                    <a href="{{url_for('employee.employee_working_time')}}" class="block p-2 text-white hover:bg-green-300 rounded-lg">
                        <i class="fa-regular fa-calendar-check mr-2"></i> Working time
                    </a>
                </li>

                <li class="relative mb-2 group">
                    <a href="{{url_for('employee.employee_salary')}}" class="block p-2 text-white hover:bg-green-300 rounded-lg">
                        <i class="fa-solid fa-dollar-sign mr-2"></i> Salary
                    </a>
                </li>

                <li class="relative mb-2 group">
                    <a href="#" class="block p-2 text-white rounded-lg">
                        <i class="fas fa-exchange-alt mr-2"></i> Transactions
                    </a>
                    <div class="absolute hidden left-5 top-full group-hover:block bg-white text-black min-w-full rounded-lg shadow-lg">
                        <a href="#" class="block p-2 text-gray-700 hover:text-white hover:bg-green-300">Create Account</a>
                        <a href="#" class="block p-2 text-gray-700 hover:text-white hover:bg-green-300">Delete Account</a>
                        <a href="#" class="block p-2 text-gray-700 hover:text-white hover:bg-green-300">History</a>
                        <a href="#" class="block p-2 text-gray-700 hover:text-white hover:bg-green-300">Deposit</a>
                        <a href="#" class="block p-2 text-gray-700 hover:text-white hover:bg-green-300">Withdraw</a>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    {% block employee_content %}
    {% endblock %}
</div>
{% endblock %}