{% extends "employee/layout.html" %}
{% block employee_content %}
<input class="hidden" id="dataType" value="salary" type="text">
<!-- Content -->
<div class="min-h-full flex flex-col ml-60 p-8 overflow-x-auto"> 
    <h2 class="text-2xl font-bold">Employee Salary Through the Months</h2>
    <div class="mb-2">
        <label for="year" class="mr-2">Select Year:</label>
        <select id="year" name="year" class="border w-20 border-gray-300 rounded-md p-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <!-- Add more years as needed -->
        </select>
    </div>

    <div id='table_wrapper'>
    <!-- <table class="min-w-full bg-white border border-gray-200 shadow-lg rounded-lg">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <tr>
                <th class="py-3 px-6 text-left">Wage Type</th>
                <th class="py-3 px-6 text-center">Jan</th>
                <th class="py-3 px-6 text-center">Feb</th>
                <th class="py-3 px-6 text-center">Mar</th>
                <th class="py-3 px-6 text-center">Apr</th>
                <th class="py-3 px-6 text-center">May</th>
                <th class="py-3 px-6 text-center">Jun</th>
                <th class="py-3 px-6 text-center">Jul</th>
                <th class="py-3 px-6 text-center">Aug</th>
                <th class="py-3 px-6 text-center">Sep</th>
                <th class="py-3 px-6 text-center">Oct</th>
                <th class="py-3 px-6 text-center">Nov</th>
                <th class="py-3 px-6 text-center">Dec</th>
                <th class="py-3 px-6 text-center">Total</th>
            </tr>
        </thead>
        <tbody class="text-gray-700 text-sm font-light">
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">Basic Salary</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">3000</td>
                <td class="py-3 px-6 text-center">36000</td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">Over Time</td>
                <td class="py-3 px-6 text-center">500</td>
                <td class="py-3 px-6 text-center">450</td>
                <td class="py-3 px-6 text-center">600</td>
                <td class="py-3 px-6 text-center">400</td>
                <td class="py-3 px-6 text-center">700</td>
                <td class="py-3 px-6 text-center">550</td>
                <td class="py-3 px-6 text-center">650</td>
                <td class="py-3 px-6 text-center">500</td>
                <td class="py-3 px-6 text-center">550</td>
                <td class="py-3 px-6 text-center">600</td>
                <td class="py-3 px-6 text-center">450</td>
                <td class="py-3 px-6 text-center">700</td>
                <td class="py-3 px-6 text-center">6650</td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">PH Holiday</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">300</td>
                <td class="py-3 px-6 text-center">3600</td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">Shift Allowance</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">200</td>
                <td class="py-3 px-6 text-center">2400</td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">Grooming Allowance</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">100</td>
                <td class="py-3 px-6 text-center">1200</td>
            </tr>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">Performance Bonus</td>
                <td class="py-3 px-6 text-center">1000</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">1000</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">1000</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">1000</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">0</td>
                <td class="py-3 px-6 text-center">4000</td>
            </tr>
            <tr class="border-b border-gray-200 bg-gray-100">
                <td class="py-3 px-6 text-left font-bold">Gross Wages</td>
                <td class="py-3 px-6 text-center font-bold">5100</td>
                <td class="py-3 px-6 text-center font-bold">4050</td>
                <td class="py-3 px-6 text-center font-bold">4200</td>
                <td class="py-3 px-6 text-center font-bold">5000</td>
                <td class="py-3 px-6 text-center font-bold">4300</td>
                <td class="py-3 px-6 text-center font-bold">4150</td>
                <td class="py-3 px-6 text-center font-bold">5250</td>
                <td class="py-3 px-6 text-center font-bold">4100</td>
                <td class="py-3 px-6 text-center font-bold">4150</td>
                <td class="py-3 px-6 text-center font-bold">4600</td>
                <td class="py-3 px-6 text-center font-bold">4050</td>
                <td class="py-3 px-6 text-center font-bold">4300</td>
                <td class="py-3 px-6 text-center font-bold">56100</td>
            </tr>
            <tr class="bg-gray-100">
                <td class="py-3 px-6 text-left font-bold">Net Pay</td>
                <td class="py-3 px-6 text-center font-bold">4800</td>
                <td class="py-3 px-6 text-center font-bold">3800</td>
                <td class="py-3 px-6 text-center font-bold">3900</td>
                <td class="py-3 px-6 text-center font-bold">4700</td>
                <td class="py-3 px-6 text-center font-bold">4000</td>
                <td class="py-3 px-6 text-center font-bold">3850</td>
                <td class="py-3 px-6 text-center font-bold">4950</td>
                <td class="py-3 px-6 text-center font-bold">3800</td>
                <td class="py-3 px-6 text-center font-bold">3900</td>
                <td class="py-3 px-6 text-center font-bold">4300</td>
                <td class="py-3 px-6 text-center font-bold">3800</td>
                <td class="py-3 px-6 text-center font-bold">4100</td>
                <td class="py-3 px-6 text-center font-bold">50800</td>
            </tr>
        </tbody>
    </table> -->
    </div>
      <!-- pagination -->
      <div class="w-full flex flex-1 justify-end mr-28 items-center absolute bottom-2">         
        <button 
            class="bg-side_bar_bg hover:bg-hover_side_bar h-7 w-12 rounded-xl 
            text-white flex items-center justify-center mr-4"
            id="previous-btn">
            <span class="material-symbols-outlined">arrow_left_alt</span>
        </button>
        <p id="location"></p>
        <button 
            class="bg-side_bar_bg hover:bg-hover_side_bar h-7 w-12 rounded-xl 
            text-white flex items-center justify-center ml-4"
            id="next-btn">
            <span class="material-symbols-outlined">arrow_right_alt</span>
        </button>
    </div>
</div>
<script type="module" src="{{url_for('static',filename='js/employee/salary.js')}}"></script>
{% endblock %}
