{% if session["user_id"] %}
    <nav class="bg-gray-600 fixed w-full z-20 top-0 start-0">
      <div class="mx-auto max-w-7xl flex h-16 px-4 sm:px-6 lg:px-8 justify-between">
        <div class="flex items-center">
          <div class="w-12 h-12 p-1 
            focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 
            focus:ring-offset-gray-800">
            <img width="50px" height="50px" src="../static/img/bank.png"/>   
          </div>

          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">My profile</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Exchange rates</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Transaction History</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Insurance</a>
            </div>
          </div>
        </div>

        <div class="hidden md:block">
          <div class="flex items-center mt-4">
            <button
              type="button"
              class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white 
              focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 
              focus:ring-offset-gray-800">
              <img width="50px" height="50px" src="../static/img/notification.png" 
              alt="notification bell"/>
            </button>
          </div>
        </div>
      </div>
    </nav>
      
    {% else %}
    <nav class="bg-gray-600 flex justify-end fixed w-full z-20 top-0 start-0">
      <div class="mr-3 flex items-center h-16 px-4 sm:px-6 lg:px-8">
        <div class="w-12 h-12 p-1 
          focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 
          focus:ring-offset-gray-800">
          <img width="50px" height="50px" src="../static/img/bank.png"/>   
        </div>
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/login" class="text-gray-300 hover:bg-gray-700 hover:text-white 
        rounded-md px-3 py-2 text-sm font-medium" 
        aria-current="page">Login</a>
        <a href="/register" class="text-gray-300 hover:bg-gray-700 hover:text-white 
        rounded-md px-3 py-2 text-sm font-medium">Register</a>
      </div>
    </nav>
    {% endif %}