<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/main.css')}}"
      type="text/css"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="h-full">
    <nav class="bg-sky-700">
      <div class="mx-auto max-w-7xl flex h-16 px-4 sm:px-6 lg:px-8 justify-between">
        <div class="flex items-center">
          <div
            class="w-12 h-12 p-1 
            focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 
            focus:ring-offset-gray-800">
            <img width="50px" height="50px" src="../static/img/bank.png"/>   
          </div>

          {% if session["user_id"] %}
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a
                href="#"
                class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                aria-current="page">Dashboard</a>
              <a
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white 
                rounded-md px-3 py-2 text-sm font-medium">My profile</a>
              <a
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white 
                rounded-md px-3 py-2 text-sm font-medium">Exchange rates</a>
              <a
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white 
                rounded-md px-3 py-2 text-sm font-medium">Transaction History</a>
              <a 
                href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white 
                rounded-md px-3 py-2 text-sm font-medium">Insurance</a>
            </div>
          </div>
        </div>

        <div class="hidden md:block">
          <div class="flex items-center mt-4">
            <button
              type="button"
              class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white 
              focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 
              focus:ring-offset-gray-800">
              <img width="50px" height="50px" src="../static/img/notification.png" alt="notification bell"/>
            </button>
          </div>
        </div>

        {% else %}
        <div class="ml-7 flex items-baseline space-x-4">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            href="/login"
            class="text-gray-300 hover:bg-gray-700 hover:text-white 
            rounded-md px-3 py-2 text-sm font-medium"
            aria-current="page">Login</a>
          <a
            href="/register"
            class="text-gray-300 hover:bg-gray-700 hover:text-white 
            rounded-md px-3 py-2 text-sm font-medium">Register</a>
        </div>
        {% endif %}
      </div>
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="flex w-full justify-center bg-red-400 px-3 py-1.5 text-sm 
    font-semibold leading-7 text-white">
      {{ message }}
    </div>
    {% endfor %} 
    
    {% block content %}
    {% endblock %}
  </body>
</html>
