<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" type="text/css" />
    <link rel="icon" href="{{ url_for('static', filename='img/system-icon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %} - DHC Banking System</title>
  </head>
  <body class="overflow-y-hidden">
    <div class="flex flex-col justify-center">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="{{category}}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
  </body>
</html>
