{% extends 'layout.html' %}
{% block title %} Register {% endblock %} 
{% block content %}
<div class="flex mt-20 flex-col px-6 py-10 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<img
			class="mx-auto h-10 w-auto"
			src="../static/img/bank.png"
			alt="Company" />
		<h2
			class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
			Register for an account
		</h2>
	</div>

<!-- <div class="mt-10 w-full sm:mx-auto sm:w-full sm:max-w-sm"> -->
	<form class="sm:grid sm:grid-cols-3 sm:content-start sm:gap-x-6 sm:justify-center flex flex-col items-center space-y-6" action="/register" method="POST">
		<div class="w-1/2 sm:w-full mt-6 ">
			<div class="flex items-center">
				<label
				for="Username"
				class="label_field">Username
				</label>
			</div>
			<div class="mt-2">
				<input
					id="Username"
					name="Username"
					type="text"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="Email"
					class="label_field">Email address
				</label>
			</div>
			<div class="mt-2">
				<input
					id="Email"
					name="Email"
					type="email"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="password"
					class="label_field">Password
				</label>
			</div>
			<div class="mt-2">
				<input
					id="password"
					name="Password"
					type="password"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="confirmPassword"
					class="label_field">Confirmation Password
				</label>
			</div>
			<div class="mt-2">
				<input
					id="confirmPassword"
					name="confirmPassword"
					type="password"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="AccountOwner"
					class="label_field">Your fullname as in passport
				</label>
			</div>
			<div class="mt-2">
				<input
					id="AccountOwner"
					name="AccountOwner"
					type="text"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<p class="label_field">Sex
				</p>
			</div>
			<div class="mt-2 flex flex-row justify-between px-4 w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6">
				<div class="flex items-center">
					<input
						id="Male"
						name="Sex"
						type="radio"
						value="Male"
						class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-400 rounded-full focus:ring-blue-500" />
					<label for="Male" class="ms-2 text-sm font-medium text-gray-900">Male</label>
				</div>
				<div class="flex items-center">
					<input
						id="Female"
						name="Sex"
						type="radio"
						value="Female"
						class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-400 rounded-full focus:ring-blue-500" />
					<label for="Female" class="ms-2 text-sm font-medium text-gray-900">Female</label>
				</div>
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="Phone"
					class="label_field">Phone number
				</label>
			</div>
			<div class="mt-2">
				<input
					id="Phone"
					name="Phone"
					type="text"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="Address"
					class="label_field">Your address
				</label>
			</div>
			<div class="mt-2">
				<input
					id="Address"
					name="Address"
					type="text"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label
					for="Card"
					class="label_field">Your card
				</label>
			</div>
			<div class="mt-2">
				<input
					id="Card"
					name="Card"
					type="text"
					autocomplete="off"
					required
					class="input_field" />
			</div>
		</div>

		<div class="w-1/2 sm:w-full">
			<div class="flex items-center">
				<label for="Branch" class="label_field">Select the branch
				</label>
			</div>
			<select id="Branch" name="Branch" class="select_field">
				<option selected>Choose a branch</option>
				<option value="Branch 1">Branch 1</option>
				<option value="Branch 2">Branch 2</option>
				<option value="Branch 3">Branch 3</option>
				<option value="Branch 4">Branch 4</option>
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<label for="LoginMethod" class="label_field">Select the Login method</label>
			<select id="LoginMethod" name="LoginMethod" class="select_field">
				<option selected>Choose a LoginMethod</option>
				<option value="LoginMethod 1">LoginMethod 1</option>
				<option value="LoginMethod 2">LoginMethod 2</option>
				<option value="LoginMethod 3">LoginMethod 3</option>
				<option value="LoginMethod 4">LoginMethod 4</option>
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<label for="TransferMethod" class="label_field">Select the Transfer Method</label>
			<select id="TransferMethod" name="TransferMethod" class="select_field">
				<option selected>Choose a TransferMethod</option>
				<option value="TransferMethod 1">TransferMethod 1</option>
				<option value="TransferMethod 2">TransferMethod 2</option>
				<option value="TransferMethod 3">TransferMethod 3</option>
				<option value="TransferMethod 4">TransferMethod 4</option>
			</select>
		</div>

		<div class="w-1/2 sm:w-full">
			<label for="Service" class="label_field">Select the Service</label>
			<select id="Service" name="Service" class="select_field">
				<option selected>Choose a Service</option>
				<option value="Service 1">Service 1</option>
				<option value="Service 2">Service 2</option>
				<option value="Service 3">Service 3</option>
				<option value="Service 4">Service 4</option>
			</select>
		</div>


		<div class="sm:col-end-4 justify-self-end">
			<button
				type="submit"
				class="w-32 h-10 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 
				focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register
			</button>
		</div>
	</form>
	<!-- </div> -->
</div>
{% endblock %}
