{% extends "layout.html" %} 
{% block title %} View Profile {% endblock %} 
{% block content %}
<div
  class="h-screen w-screen flex justify-center overflow-y-auto"
  style="
    background-image: url('../static/img/viewProfile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <form
    method="post"
    action="/view-profile"
    class="w-3/4 flex items-center mt-16"
    style="height: calc(100vh - 64px)">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input class="hidden" type="text" name="current_email" value="{{account.AccountOwner.Email}}"/>
    <input class="hidden" type="text" name="current_phone" value="{{account.AccountOwner.Phone}}"/>
    <input class="hidden" type="text" name="current_username" value="{{account.Username}}"/>
    <div class="w-full flex flex-col h-5/6 md:flex-row items-center">
      <!-- user info -->
      <div class="h-full w-full flex flex-1 flex-col rounded-2xl shadow-2xl mr-6">
        <!-- avatar -->
        <div
          class="w-full h-1/2 flex justify-center border-b border-gray-300 p-4">
          {% if account.AccountOwner.Sex == "0" %}
          <img
            src="../static/img/avt_man.png"
            alt="avt_man"
            class="h-full w-auto" />
          {% elif account.AccountOwner.Sex == "1" %}
          <img
            src="../static/img/avt_woman.png"
            alt="avt_woman"
            class="h-full w-auto" />
          {%endif%}
        </div>

        <!-- detail -->
        <div class="w-full h-1/2 flex flex-col justify-evenly">
          <div class="w-full flex justify-center items-center">
            <div id="Name" class="font-bold">
              <p>{{ account.AccountOwner.Name }}</p>
            </div>
            <div class="h-4 w-4">
              {% if account.AccountOwner.Sex == "0" %}
              <img src="../static/img/male.png" alt="male_sign" />
              {% elif account.AccountOwner.Sex == "1" %}
              <img src="../static/img/female.png" alt="female_sign" />
              {%endif%}
            </div>
          </div>
          <div class="px-2">
            <label for="Email" class="font-bold">Email</label>
            <div>
              <input
                type="text"
                id="Email"
                name="email"
                value="{{account.AccountOwner.Email}}"
                class="w-full border-b-black border-t-0 border-l-0 border-r-0 focus:ring-transparent 
                focus:border-purple-500 bg-transparent" 
                required/>
            </div>
          </div>

          <div class="px-2">
            <label for="Phone" class="font-bold">Phone</label>
            <div>
              <input
                type="text"
                id="Phone"
                name="phone"
                value="{{account.AccountOwner.Phone}}"
                class="w-full border-b-black border-t-0 border-l-0 border-r-0 focus:ring-transparent
                focus:border-purple-500 bg-transparent" 
                required/>
            </div>
          </div>

          <div class="px-2">
            <label for="Address" class="font-bold">Address</label>
            <div>
              <textarea
                id="Address"
                name="address"
                class="w-full h-10 border-b-black border-t-0 border-l-0 border-r-0 overflow-y-hidden
                resize-none focus:ring-transparent bg-transparent focus:border-purple-500"
                required>
                {{account.AccountOwner.Address}}
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="h-full w-full flex flex-1 flex-col justify-evenly items-center">
        <!-- account -->
        <div
          class="w-full flex flex-col rounded-2xl shadow-2xl mr-6 p-4 leading-tight">
          <div>
            <label for="Username" class="font-bold">Username</label>
            <div>
              <input
                type="text"
                value="{{account.Username}}"
                id="Username"
                name="username"
                class="h-8 w-full border-b-black border-t-0 border-l-0 border-r-0 focus:ring-transparent 
                focus:border-purple-500 bg-transparent" 
                required/>
            </div>
          </div>

          <div>
            <label for="Card" class="font-bold">Card Number</label>
            <div id="Card" class="w-full flex justify-between pl-3">
              <p>
                {% if account.AccountOwner %}
                  {{account.AccountOwner.Card.CardNumber}} 
                {% else %} 
                  <i>You don't have any card.</i> 
                {% endif %}
              </p>
              <div class="h-8 w-8" onclick="card_info_toggle()">
                <img
                  src="../static/img/right-arrow.png"
                  class="h-1/2 w-1/2"
                  id="card_right_arrow" />
                <img
                  src="../static/img/down-arrow.png"
                  class="h-1/2 w-1/2 hidden"
                  id="card_down_arrow" />
              </div>
            </div>
            <div id="cardInfo" class="hidden">
              <div>
                <span class="font-bold pl-3">Expired Date: </span>
                {% if expired_date %}
                  <span>{{expired_date}}</span>
                {% endif %}
              </div>

              <div>
                <span class="font-bold pl-3">CVV: </span>
                <span>{{account.AccountOwner.Card.CVV}}</span>
              </div>
              <div>
                <span class="font-bold pl-3">Card Type: </span>
                {% if account.AccountOwner.Card.Type|length == 0 %} 
                  {% for type in account.AccountOwner.Card.Type %}
                    <span>{{type.TypeName}}</span>
                  {% endfor %} 
                {% endif %}
              </div>
            </div>
          </div>

          <div>
            <label for="AccountNumber" class="font-bold">AccountNumber</label>
            <div id="AccountNumber" class="pl-3">
              <p>{{account.AccountNumber}}</p>
            </div>
          </div>

          <div>
            <label for="Branch" class="font-bold">Branch</label>
            <div id="Branch">
              <p>
                <span class="font-bold pl-3">Branch name:</span>
                <span>{{account.Branch.BranchName}}</span>
              </p>
              <p>
                <span class="font-bold pl-3">Address:</span>
                <span>{{account.Branch.Address}}</span>
              </p>
            </div>
          </div>
        </div>

        <!-- save changes -->
        <div class="my-7">
          <button
              type="button"
              class="h-10 w-32 bg-purple-500 hover:bg-hover-btn-bg-color rounded-2xl text-white"
              onclick="open_popup()">
            Save changes
          </button>
        </div>

        <div class="fixed top-0 left-0 h-screen w-screen bg-popup-bg justify-center items-center popup hidden">
          <div class="md:w-1/4 w-5/6 h-1/2 bg-white rounded-2xl p-7 flex flex-col relative justify-evenly items-center">
            <span 
                class="material-symbols-outlined absolute top-3 right-3 hover:bg-gray-300 cursor-pointer close"
                onclick="close_popup()">
              close
            </span>
            <p class="text-2xl w-full border-b border-black pb-2">Authentication</p>
            <p class="py-2 w-full ">Please re-enter your password to continue.</p>
            <input 
                name="password" 
                type="password" 
                class="w-full h-8 rounded-lg focus:outline-none focus:border-purple-500 
                      focus:ring-2 focus:ring-purple-500 mt-2">
            <button 
                type="submit"
                class="w-full h-8 rounded-lg bg-purple-500 text-white
                hover:bg-hover-btn-bg-color mt-5">
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<script src="{{ url_for('static', filename='js/viewprofile.js') }}"></script>
{% endblock %}
