{% extends "general/layout.html" %}

{% block title %}
    Edit Account
{% endblock %}

{% block content %}
    <div class="z-1000 relative top-0 left-0 h-screen overflow-y-auto flex justify-center items-center
                bg-gradient-to-t from-pink-200 to-purple-400">
        <button 
            onclick="goBack()" 
            class="absolute top-12 left-12 bg-popup-bg z-10 h-12 w-12 rounded-full flex items-center hover:bg-popup-bg-hover">
            <span class="material-symbols-outlined absolute right-2">arrow_back_ios</span>
        </button>
        <form class="w-3/4 bg-bg-color flex flex-col justify-center items-center py-16 rounded-lg" method="post" action="{{ url_for('admin_account.edit_account', id=account._id) }}">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
            <input type="hidden" value="{{account._id}}" name="account_id" id="account_id"/>
            <div class="w-full flex justify-center">
                <h2 class="font-extrabold text-white">Edit Account Information</h2>
            </div>
            <div class="w-full flex items-center justify-center">
                <div class="mr-16 w-96">
                    <div class="flex flex-col mb-4">
                        <label class="admin_label" for="accountUsername">Username</label>
                        <div class="admin_readonly" id="accountUsername">
                            <div>{{account.Username}}</div>
                        </div>
                    </div>
                    
                    <div class="flex flex-col mb-4">
                        <label class="admin_label" for="accountNumber">Account Number</label>
                        <div id="accountNumber" class="admin_readonly">
                            <div>{{account.AccountNumber}}</div>
                        </div>
                    </div>

                    <div class="flex flex-col mb-4">
                        <label class="admin_label" for="accountOwner">Owner</label>
                        <div id="accountOwner" class="admin_readonly">
                            <div>{{account.Owner_name}}</div>
                        </div>
                    </div>

                    <div class="flex flex-col mb-4">
                        <label for="role" class="admin_label">Role</label>
                        <select id="role" class="admin_input" name="role" required>
                            {% for role in lst_role %}
                                {% if role.RoleName == account.Role_name %}
                                    <option value="{{role._id}}" selected>{{ role.RoleName }}</option>
                                {% else %}
                                    <option value="{{role._id}}">{{ role.RoleName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% include "admin/general/status_checkbox.html" %}
                </div>
                <div class="w-96">
                    <div class="flex flex-col mb-4">
                        <label for="branch" class="admin_label">Branch</label>
                        <select id="branch" class="admin_input" name="branch">
                          {% for branch in lst_branch %}
                                {% if branch.BranchName == account.Branch_name %}
                                    <option value="{{branch._id}}" selected>{{ branch.BranchName }}</option>
                                {% else %}
                                    <option value="{{branch._id}}">{{ branch.BranchName }}</option>
                                {% endif %}
                          {% endfor %}
                        </select>
                    </div>

                    <div class="flex w-full flex-col">
                        <div>
                          <h2 class="admin_label">Login Method</h2>
                        </div>
                        <div class="pl-5 text-white">
                            {% for loginMethod in lst_login_method %}
                                <div>
                                    <input type="checkbox" value="{{loginMethod._id}}" class="rounded-full" name="loginMethod"
                                    {% if loginMethod.MethodName in account.lst_login_method %}checked{% endif %}/>
                                    <label>{{loginMethod.MethodName}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="flex w-full flex-col">
                        <div>
                            <h2 class="admin_label">Tranfer Method</h2>
                        </div>
                        <div class="pl-5 text-white">
                            {% for transferMethod in lst_transfer_method %}
                            <div>
                                <input type="checkbox" value="{{transferMethod._id}}" class="rounded-full" name="transferMethod"
                                {% if transferMethod.MethodName in account.lst_transfer_method %}checked{% endif %}/>
                                <label>{{transferMethod.MethodName}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="w-full flex justify-center mt-5">
                        <button
                            type="button"
                            class="bg-gradient-to-r from-purple-400 to-purple-600 hover:from-purple-600 
                                   hover:to-purle-800 text-white font-semibold py-2 px-6 rounded-md shadow-md 
                                   focus:outline-none focus:ring-2 focus:ring-purle-500 focus:ring-opacity-50 
                                   transition-all duration-300 ease-in-out"
                            onclick="toggle()">
                            Change
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden h-screen w-screen fixed top-0 left-0 justify-center items-center z-1000" id="toggled_element">
                <div class="flex flex-col h-40 w-96 justify-center items-center bg-white shadow-2xl rounded">
                    <div class="font-bold mb-10">Do you want to save changes</div>
                    <div class="w-full flex justify-evenly">
                        <div class="w-1/4">
                            <button class="btn" type="submit">Change</button>
                        </div>
                        <div class="w-1/4">
                            <button class="btn" type="button" onclick="toggle()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>  
        </form>
    </div>
{% endblock %}