{% extends "general/layout.html" %} 

{% block title %} 
    View Account 
{% endblock %}

{% block content %}
<div class="relative h-screen w-screen overflow-y-auto bg-green-50 flex items-center">
  <button
    onclick="goBack()"
    class="absolute top-12 left-12 bg-green-700 z-10 h-12 w-12 rounded-full flex items-center justify-center hover:bg-green-800 transition duration-300 shadow-lg">
    <span class="material-symbols-outlined text-white absolute right-2">arrow_back_ios</span>
  </button>

  <div class="w-11/12 max-w-4xl bg-gradient-to-br from-green-400 to-green-600 mx-auto rounded-xl shadow-2xl top-28 p-8">
    <div class="flex items-center justify-center mb-6">
      <img src="{{ url_for('static', filename='img/bank.png') }}" class="h-16 w-16 mr-3"/>
      <h1 class="text-4xl font-bold text-white">Account Information</h1>
    </div>
    
    <form class="flex flex-col lg:flex-row" action="{{ url_for('admin_account.add_account') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />  

      <!-- Account Information -->
      <div class="flex-1 p-4 bg-white rounded-lg shadow-md">
        <h2 class="font-extrabold text-green-700 mb-4">Account Information</h2>
        <div class="space-y-4">
          <div>
            <label for="branch" class="admin_label">Branch</label>
            <div class="admin_readonly">{{account.Branch_name}}</div>
          </div>

          <div>
            <h2 class="admin_label">Login Method</h2>
            <ul class="pl-5 list-disc text-gray-700">
              {% for method in account.lst_login_method %}
                <li>{{method}}</li>
              {% endfor %}
            </ul>
          </div>

          <div>
            <h2 class="admin_label">Transfer Method</h2>
            <ul class="pl-5 list-disc text-gray-700">
              {% for method in account.lst_transfer_method %}
                <li>{{method}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- User Information -->
      <div class="flex-1 p-4 bg-white rounded-lg shadow-md lg:ml-4 mt-4 lg:mt-0">
        <h2 class="font-extrabold text-green-700 mb-4">User  Information</h2>
        <div class="space-y-4">
          <div>
            <label class="admin_label">Username</label>
            <div class="admin_readonly">{{account.Username}}</div>
          </div>

          <div>
            <label class="admin_label">Owner</label>
            <div class="admin_readonly">{{account.Owner_name}}</div>
          </div>

          <div>
            <label class="admin_label">Role</label>    
            <div class="admin_readonly">{{account.Role_name}}</div>
          </div>

          <div>
            <label class="admin_label">Account Number</label>
            <div class="admin_readonly">{{account.AccountNumber}}</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}