@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input_field {
        @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset 
        ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 
        sm:text-sm sm:leading-6;
    }

    .label_field {
        @apply block mt-3 text-sm font-medium leading-6 text-gray-900;
    }
    
    .select_field {
        @apply block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 text-sm 
        font-medium leading-6 text-gray-900;

    }

    .btn {
        @apply flex w-full justify-center rounded-md bg-bg-color px-3 py-1.5 
                text-sm font-medium leading-6 text-white shadow-sm hover:bg-hover-btn-bg-color
                focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
              focus-visible:outline-indigo-600
    }

    .error {
        @apply flex w-full justify-center bg-red-400 px-3 py-1.5 text-sm font-semibold leading-7 text-white
    }

    .success {
        @apply flex w-full justify-center bg-green-400 px-3 py-1.5 text-sm font-semibold leading-7 text-white
    }

    .employee_th {
        @apply border border-black px-4 py-3 text-center text-xs font-medium text-gray-600 uppercase tracking-wider
    }

    .employee_tr {
        @apply border border-black px-3 py-2 whitespace-nowrap
    }
    .employee_table {
        @apply xl:min-w-full table-fixed border border-collapse border-gray-500 divide-y divide-gray-500
    }

    .employee_working_table {
        @apply xl:min-w-full table-fixed border border-collapse border-gray-500 divide-y divide-gray-500
    }

    .employee_working_tr {
        @apply border border-black text-center px-3 py-2 whitespace-nowrap
    }
    .employee_working_th {
        @apply border border-black px-4 py-3 text-center text-xs font-medium text-gray-600 uppercase tracking-wider
    }

    .admin_input {
        @apply w-full rounded-lg focus:outline-none focus:border-purple-500 focus:ring-2 focus:ring-purple-500
    }

    .admin_label {
        @apply text-white font-medium
    }

    .admin_readonly {
        @apply w-full h-10 flex items-center bg-gray-400 rounded-lg pl-3 text-gray-800
    }

    .admin_cell {
        @apply whitespace-nowrap p-2 relative border-x border-black overflow-hidden max-w-96
    }

    .admin_table {
        @apply border border-black w-3/4
    }

    .admin_table1 {
        @apply border border-black z-10 sm:fixed shadow-shadowRight
    }

    .admin_table2 {
        @apply flex-1 border border-black
    }

    .admin_th {
        @apply p-2 border border-black whitespace-nowrap
    }

    .less_admin_th {
        @apply p-2 border border-black whitespace-nowrap w-1/4
    }

    .admin_tr {
        @apply h-8 bg-blue-gray-50 my-3 border-t border-white
    }

    .admin_table_wrapper {
        @apply w-99% flex absolute top-20 overflow-x-auto
    }

    .admin_thead {
        @apply bg-blue-gray-300 text-center
    }

    .hightlight {
        @apply bg-gradient-to-r from-indigo-500 to-purple-500 text-white shadow-lg rounded-md
    }

    .admin_sidebar_item {
        @apply py-2 border-b border-white font-bold text-gray-300 hover:text-white pl-2
    }
}
