<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}

        <div class="bg-gray-200 h-50">
            &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        </div>
    </body>
</html>