{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<!-- Admin side bar -->
<div class="flex-col justify-between">
    <div 
    class="flex mt-16 h-610">
        <ul class="bg-side_bar_bg p-4 w-48 sidebar hidden sm:block">
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/account">Accounts</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/user">Users</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/employee">Employees</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/branch">Branches</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="#">Statistical chart</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/news">News</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/export-data">Export Data</a>
            </li>
            <li class="py-2 border-b border-white font-bold text-gray-300 hover:text-white cursor-pointer">
                <a href="/admin/import-data">Import Data</a>
            </li>
        </ul>
        {% block admin_content %}
        {% endblock %}
    </div>

    <div>   
        {% include "footer.html" %}
    </div>
</div>
<script type="module" src="{{ url_for('static', filename='js/admin/admin.js') }}"></script>
{% endblock %}