{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<!-- Admin side bar -->
<div class="flex-col justify-between">
    <div class="flex mt-16 h-screen">
        <ul class="bg-side_bar_bg p-4 w-48 sidebar hidden sm:block">
            <li class="admin_sidebar_item{% if request.path == '/admin/account' %} hightlight{% endif %}">
                <a href="/admin/account">Accounts</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/user' %} hightlight{% endif %}">
                <a href="/admin/user">Users</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/employee' %} hightlight{% endif %}">
                <a href="/admin/employee">Employees</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/branch' %} hightlight{% endif %}">
                <a href="/admin/branch">Branches</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/statistical-chart' %} hightlight{% endif %}">
                <a href="/admin/statistical-chart">Statistical chart</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/news' %} hightlight{% endif %}">
                <a href="/admin/news">News</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/export-data' %} hightlight{% endif %}">
                <a href="/admin/export-data">Export Data</a>
            </li>
            <li class="admin_sidebar_item{% if request.path == '/admin/import-data' %} hightlight{% endif %}">
                <a href="/admin/import-data">Import Data</a>
            </li>
        </ul>
        {% block admin_content %}
        {% endblock %}
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/admin/admin.js') }}"></script>
{% endblock %}